<!DOCTYPE html>
<html lang="en">


<!--
filename:directory
Author:Brandon Roy

websitename:

description:
THis will be the business directory lissting page
-->


<head>
    <meta charset="UTF-8">
    <title>fast food directory listing</title>

</head>
<body>


<h1>directory listing</h1>






</body>
</html>